
<nav id="sidebar">
	<div class="p-4 pt-5">
		<a href="#" class="img logo rounded-circle mb-5"
			style="background-image: url(/images/dp-generic.png)"></a>
		<ul class="list-unstyled components mb-5">
			<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
				class="dropdown-toggle"
				th:text="${profile.user.getFullNameFormatted()}">Account Name</a>
			<!--  Accoount name -->
			<ul class="collapse list-unstyled" id="homeSubmenu">
				<li sec:authorize="hasRole('ROLE_DOCTOR')"><a
					data-toggle="modal" data-target="#manageModal">Manage Secretary</a></li>
				<li sec:authorize="hasRole('ROLE_DOCTOR')"><a
					data-toggle="modal" data-target="#manageClinicModal">Manage
						Clinic</a></li>
				<li><a data-toggle="modal" data-target="#settingModal">Settings</a>
				</li>
				<li>
					<form th:action="@{/logout}" th:method="post">
						<button class="btn btn-link" type="submit">Logout</button>
					</form>
				</li>
			</ul>
			<li th:classappend="${isAppointmentActive} ? active : ''"><a
				th:href="@{/app/appointments}">Appointments</a></li>
			<li th:classappend="${isPatientRecordsActive} ? active : ''"><a
				th:href="@{/app/patientrecords}">Patient Records</a></li>
			<li sec:authorize="hasRole('ROLE_DOCTOR')"
				th:classappend="${isPrescriptionActive} ? active : ''"><a
				th:href="@{/app/prescription}">E-Prescription</a></li>
			<li sec:authorize="hasRole('ROLE_DOCTOR')"
				th:classappend="${isReceiptActive} ? active : ''"><a
				th:href="@{/app/receipt}">E-Receipt</a></li>
			<li th:classappend="${isInventoryActive} ? active : ''"><a
				th:href="@{/app/inventory}">Inventory</a></li>
		</ul>

		<div class="footer">
			<p></p>
		</div>

	</div>
</nav>
