<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Appointment</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
	rel="stylesheet">

<link rel="stylesheet"
	th:href="@{//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/setting.css}">
<link rel="stylesheet" th:href="@{/css/manage.css}">
</head>
<body>

	<div class="wrapper d-flex align-items-stretch backgroundColor font">

		<!-- Nav Bar -->
		<nav th:replace="fragments/user-nav.html"></nav>
		<!-- Page Content  -->
		<div id="content" class="p-4 p-md-5">
			<!-- Top Navbar -->
			<nav th:replace="fragments/top-navbar"></nav>
			<div class="container">
				<h2 class="mb-4">Appointments</h2>
				<div style="float: left; width: 50%;">
					<div class="card">
						<div class="card-header">
							<button class="btn btn-link" data-toggle="collapse"
								data-target="#collapse-one"
								style="text-decoration: none; color: black;">
								<b> 1:00 PM </b> &nbsp; &nbsp; &nbsp; Gaspar, Princess Summer
							</button>
						</div>

						<div id="collapse-one" class="collapse show">
							<div class="card-body" data-parent="#main-accordion">Lorem
								ipsum dolor sit amet, consectetur adipisicing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
								enim ad minim veniam, quis nostrud exercitation ullamco laboris
								nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
								in reprehenderit in voluptate velit esse cillum dolore eu fugiat
								nulla pariatur. Excepteur sint occaecat cupidatat non proident,
								sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<button class="btn btn-link" data-toggle="collapse"
								data-target="#collapse-one"
								style="text-decoration: none; color: black;">
								<b> 1:00 PM </b> &nbsp; &nbsp; &nbsp; Gaspar, Princess Summer
							</button>
						</div>

						<div id="collapse-one" class="collapse show">
							<div class="card-body" data-parent="#main-accordion">Lorem
								ipsum dolor sit amet, consectetur adipisicing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
								enim ad minim veniam, quis nostrud exercitation ullamco laboris
								nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
								in reprehenderit in voluptate velit esse cillum dolore eu fugiat
								nulla pariatur. Excepteur sint occaecat cupidatat non proident,
								sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

						</div>
					</div>
				</div>
				<div style="float: right;">
					<iframe
						src="https://calendar.google.com/calendar/embed?height=325&amp;wkst=1&amp;bgcolor=%237986CB&amp;ctz=Asia%2FManila&amp;src=Y2JnY2hhcm1hbmRlckBnbWFpbC5jb20&amp;src=ZW4ucGhpbGlwcGluZXMjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23F4511E&amp;color=%230B8043"
						style="border: solid 1px #777" width="450" height="325"
						frameborder="0" scrolling="no"></iframe>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal setting -->
	<div th:replace="fragments/modal/user-setting"></div>
	<!-- Manage Secretary Modal -->
	<div th:replace="fragments/modal/sect-manage"></div>
	<!-- Manage Clinic Modal -->
	<div th:replace="fragments/modal/clinic-manage"></div>
	<!-- Add Clinic Modal -->
	<div th:replace="fragments/modal/clinic-add"></div>
	<!-- ADD Secretary Modal -->
	<div th:replace="fragments/modal/sect-add"></div>
	<!-- Edit Secretary Modal -->
	<div th:replace="fragments/modal/sect-edit"></div>
	<!-- Delete Secretary Modal -->
	<div th:replace="fragments/modal/sect-delete"></div>

	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>
</html>