<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Appointment</title>
<meta charset="utf-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
	rel="stylesheet">
<link
	rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link
	rel="stylesheet"
	th:href="@{//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
<link
	rel="stylesheet"
	th:href="@{/css/style.css}">
<link
	rel="stylesheet"
	th:href="@{/css/setting.css}">
<link
	rel="stylesheet"
	th:href="@{/css/manage.css}">
</head>
<body>
	<div class="wrapper d-flex align-items-stretch backgroundColor font">
		<!-- Nav Bar -->
		<nav th:replace="fragments/user-nav.html"></nav>
		<!-- Page Content  -->
		<div
			id="content"
			class="p-4 p-md-5">
			<!-- Top Navbar -->
			<nav th:replace="fragments/top-navbar"></nav>
			<h2 class="mb-4">
				<!-- Title -->
			</h2>
			<div class="container">
				<form
					th:action="@{/app/prescription/send}"
					th:method="post">
					<h2 class="mb-4">GENERATED PRESCRIPTION</h2>
					<center>
						<div
							class="col"
							style="width: 70%; padding: 1%;">
							<label
								for="PatientName"
								class="text-dark"
								style="float: left;">Patient Name</label>
							<select name="patientId">
								<option
									class="form-control"
									style="float: right; width: 80%;"
									th:each="patient : ${patients}"
									th:value="${patient.id}"
									th:text="${patient.id} + ' - ' + ${patient.lastName} + ', ' + ${patient.firstName}"></option>
							</select>
						</div>
						<br>
						<br>
						<div
							class="col"
							style="width: 70%; padding: 1%;">
							<label
								for="GenericMedicineName"
								class="text-dark"
								style="float: left;">Generic Medicine name</label>
							<input
								type="text"
								class="form-control"
								id="GenericMedicineName"
								name="genericMedicineName"
								placeholder="Enter Generic Medicine Name"
								style="float: right; width: 80%;">
						</div>
						<br>
						<br>
						<div
							class="col"
							style="width: 70%; padding: 1%;">
							<label
								for="BrandedMedicineName"
								class="text-dark"
								style="float: left;">Branded Medicine name</label>
							<input
								type="text"
								class="form-control"
								id="BrandedMedicineName"
								name="brandedMedicineName"
								placeholder="Enter Branded Medicine name"
								style="float: right; width: 80%;">
						</div>
						<br>
						<br>
						<div
							class="col"
							style="width: 70%; padding: 1%;">
							<label
								for="DosageMedicine"
								class="text-dark"
								style="float: left;">Recommend Dosage</label>
							<input
								type="text"
								class="form-control"
								id="DosageMedicine"
								name="recommendedDosage"
								placeholder="Enter How many intake per use"
								style="float: right; width: 80%;">
						</div>
						<br>
						<br>
						<br>
						<br>
						<div
							class="col"
							style="width: 70%; padding: 1%;">
							<label
								for="Notes"
								class="text-dark"
								style="float: left;">Other Notes</label>
							<textarea
								class="form-control"
								id="Notes"
								name="medicineNotes"
								aria-label="With textarea"
								rows="4"
								style="width: 80%; resize: none; float: right;"></textarea>
						</div>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<div id="addMedicine"></div>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<div
							class="col"
							style="width: 70%; padding: 1%;">
							<input
								class="btn btn-outline-success"
								style="width: 80%; float: right;"
								type="button"
								value="Add another Medicine"
								onClick="addMedicine()">
						</div>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<button
							class="btn btn-primary"
							style="margin-left: 80%">Generate</button>
					</center>
				</form>
			</div>
		</div>
	</div>
	<!-- Modal setting -->
	<div th:replace="fragments/modal/user-setting"></div>
	<!-- Manage Secretary Modal -->
	<div th:replace="fragments/modal/sect-manage"></div>
	<!-- Manage Clinic Modal -->
	<div th:replace="fragments/modal/clinic-manage"></div>
	<!-- Add Clinic Modal -->
	<div th:replace="fragments/modal/clinic-add"></div>
	<!-- ADD Secretary Modal -->
	<div th:replace="fragments/modal/sect-add"></div>
	<!-- Edit Secretary Modal -->
	<div id="secretaryEditModalContainer"></div>
	<!-- Delete Secretary Modal -->
	<div th:replace="fragments/modal/sect-delete"></div>
	<!-- JS -->
	<script
		type="text/javascript"
		th:src="@{/js/procedureAdd.js}"></script>
	<script
		type="text/javascript"
		th:src="@{/js/jquery.min.js}"></script>
	<script
		type="text/javascript"
		th:src="@{/js/popper.js}"></script>
	<script
		type="text/javascript"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script
		type="text/javascript"
		th:src="@{/js/main.js}"></script>
</body>
</html>