<!DOCTYPE html>
<html>
<head>
	<title>Receipt Format</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>

	<div class="container my-5" style="background-color: #E7DEF2; width: 50%;">
		<center>
		<br>

		<div style="width: 95%; background-color: #FFFFFF; padding: 5px;">
			<span style="font-size: 40px;"><b> INVOICE </b></span>
		</div>

		<br>

		<div class="row" style="padding-left: 20px; text-align: left;">
			<div class="col" style="width: 70%;">
				<b><span style="font-size: 16px;"> Patient Name: </b><i> *Insert Name of Patient Here* </i></span> 
				<br>
				<b><span style="font-size: 16px;"> Patient Contact Number: </b><i> *Insert Patient's Contact Number Here* </i></span>
				<br>
				<b><span style="font-size: 16px;"> Patient Email Address: </b><i> *Insert Patient's Email Address Here* </i></span>
				<br>
				<b><span style="font-size: 16px;"> Date of Appointment: </b><i> *Insert Date Here* </i></span>
			</div>
		</div>

		<div style="margin-top: 35px; width: 95%;">
			<table align="center" style="width: 100%;">

				<tr class="row" align="center" style="background-color: white; padding: 5px;">
					<th class="col-1">  </th>
					<th class="col-9"> DESCRIPTION </th>
					<th class="col-2"> COST</th>
				</tr>

				<tr th:each="procedure : ${procedures}" class="row" align="center" style="padding: 5px;">
					<th class="col-1" th:text="${procedureStat.count}"></th>
					<td class="col-9"> <i th:text="${procedure.name}"></i></td>
					<td class="col-2" th:text="'Php ' + ${procedure.price}"></td>
				</tr>
				<tr class="row" style="background-color: white; padding: 3px;">
					<th class="col-10" align="left">  </th>
					<th class="col-2" align="right" th:text="'Php ' + ${total}" colspan="2">Total</th>
				</tr>
			</table>
		</div>

		<br>
		<br>

		<div class="row" style="text-align: right;">
			<div class="col">
				<span style="font-size: 16px;"><i> This Receipt was Issued By: </i> &emsp;&emsp;</span> <br>
				<span style="font-size: 18px;"><b th:text="${doctor.getFullNameFormatted()} + ', MD'"> Name of Doctor Here, MD </b> &emsp;&nbsp; </span><br>
				<span style="font-size: 16px;"><b> License No: </b><span th:text="${doctor.licenseNumber}">*Insert Here*</span>&emsp;&nbsp; </span><br>
				<span style="font-size: 16px;"><b> PTR No: </b><span th:text="${doctor.ptrNumber}">*Insert Here*</span>&emsp;&nbsp; </span><br>
			</div>
		</div>

		<br>
		<br>

		<span style="font-size: 16px;"><i>This receipt is powered by</i><img src="/static/images/email/logo.png" style="width: 230px; height: 100px;" data-th-src="|cid:logo|"></span>
		
		<br>
		<br>

		</center>
	</div>

</body>
</html>
