<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<!-- Add Clinic Modal-->
	<form th:action="@{/clinic/new}" th:method="post">
		<input th:name="currentUrl"
			th:value="${#httpServletRequest.requestURI}" type="hidden">
		<div class="modal fade " id="AddClinicModal" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header colorModal">
						<h5 class="modal-title" id="exampleModalLongTitle">Create
							Secretary</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body colorModal">
						<div class="col">
							<label for="firstNamePatient" class="text-dark">Clinic
								Name:</label> <input class="form form-control" type="text"
								name="clinicName" placeholder="Enter name of Clinic"
								style="width: 100%;">
						</div>

						<br>
						<div class="col">

							<label for="lastNamePatient" class="text-dark">Clinic
								Addresss:</label> <input class="form form-control" type="text"
								name="clinicAddress" placeholder="Enter the Addresss"
								style="width: 100%;">
						</div>


					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Add Clinic</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>