<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<!-- Manage Clinic Modal -->
	<div class="modal fade" id="manageClinicModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg ">
			<div class="modal-content">
				<div>
					<div class="modal-header bgcolor">
						<h3 class="modal-title w-100 text-center" id="exampleModalLabel">Clinic</h3>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body bgcolor">
						<div class="row">
							<div>
								<label for="staticEmail" class="col-sm-2 col-form-label"><b>Search</b></label>
							</div>
							<div
								style="width: 450px; padding-left: 30px; padding-right: 70px;">
								<input type="text" class="form-control" id="searchinput"
									aria-describedby="emailHelp" required="autofocus" width="20px";>
							</div>
							<div style="width: 85px";>
								<button type="button" class="btn btn-primary"
									data-toggle="modal" data-target="#AddClinicModal">Add</button>
							</div>
							<div style="width: 85px";>
								<button type="button" class="btn btn-danger">
									<a data-toggle="modal" data-target="#">Delete
								</button>
								</a>
							</div>
						</div>
						<br>

						<table class="table table-striped table-dark">
							<tr>
								<th></th>
								<th>Clinic ID</th>
								<th>Clinic Name</th>
								<th>Clinic Location</th>
							</tr>
							<tr>
								<td><input type="checkbox" name="checkbx"></td>
								<td>123456tf</td>
								<td>Basa Dental Clinic</td>
								<td>Bacoor,Cavite</td>
							</tr>

						</table>
					</div>

					<div class="modal-footer bgcolor"></div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>