<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/app/user}" th:method="get">
		<input hidden="" th:name="currentUrl" th:value="${#httpServletRequest.requestURI}">
		<div class="modal fade " id="AddSecretaryModal" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header colorModal">
						<h5 class="modal-title" id="exampleModalLongTitle">Create
							Secretary</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body colorModal">
						<div class="col">
							<label for="firstNamePatient" class="text-dark">Secretary
								First Name:</label> <input class="form form-control" type="text"
								name="secretaryFname" placeholder="Enter First Name"
								style="width: 100%;">
						</div>

						<br>
						<div class="col">

							<label for="lastNamePatient" class="text-dark">Secretary
								Last Name:</label> <input class="form form-control" type="text"
								name="secretaryLname" placeholder="Enter Last Name"
								style="width: 100%;">
						</div>

						<br>
						<div class="col">
							<label for="gender" class="text-dark">Gender:</label> <select
								class="form-control" id="gender">
								<option value="male">Male</option>
								<option value="female">Female</option>
							</select>
						</div>
						<br>
						<div class="col">
							<label for="contactnumber" class="text-dark">Contact #:</label> <input
								class="form form-control" type="text" name="contactnumber"
								placeholder="Enter your Contact #..." style="width: 100%;">
						</div>
						<br>
						<div class="col">
							<label for="birthdate" class="text-dark">Birthdate:</label> <input
								class="form form-control" type="date" name="birthdate"
								placeholder="0" style="width: 100%;">
						</div>
						<br>
						<div class="col">
							<label for="emai" class="text-dark">Email:</label> <input
								class="form form-control" type="email" name="email"
								placeholder="Enter your Email..." style="width: 100%;">
						</div>
						<br>
						<div class="col">
							<label for="Address" class="text-dark">Address:</label>
							<textarea class="form form-control sizeText" rows="4"
								style="width: 100%;" name="message" form="Order_Page" id="m_box"></textarea>
						</div>
						<br>
						<div class="col">
							<label for="clinic" class="text-dark">Choose Clinic:</label> <select
								class="form-control" id="clinic">
								<option value="clinic1">Clinic1</option>
								<option value="clinic2">Clinic2</option>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Create
							Record</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>