<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div id="DeleteSecretaryModal" class="modal fade bs-example-modal-lg"
		tabindex="-1" role="dialog" aria-labelledby="classInfo"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Delete
						Record</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<div class="row">
						<div>
							<label for="staticEmail" class="col-sm-2 col-form-label"><b>Search</b></label>
						</div>
						<div
							style="width: 450px; padding-left: 30px; padding-right: 70px;">
							<input type="text" class="form-control" id="searchinput"
								aria-describedby="emailHelp" required="autofocus" width="20px";>
						</div>
					</div>
					<br>

					<table class="Manager">
						<tr>
							<th>&nbsp;</th>
							<th>ID</th>
							<th>Secretary ID</th>
							<th>Secretary Name</th>
							<th>Clinic</th>
						</tr>
						<tr>
							<td><input type="checkbox" name="name1" />&nbsp;</td>
							<td>1</td>
							<td>123456tf</td>
							<td>Christian Gaspar</td>
							<td>Clinic 1</td>
						</tr>

					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">
						Close</button>
					<button type="button" class="btn btn-danger">Remove</button>
					<button type="button" class="btn btn-danger">Remove all</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>