<div class="modal fade " id="secretaryEditModalContent" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header colorModal">
				<h5 class="modal-title" id="editSectModalTitle">Edit
					Secretary</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form th:action="@{/app/secretary/edit}" th:method="post">
				<input th:name="currentUrl"
					th:value="${currentUrl}" type="hidden">
				<input name="sectId" type="hidden" th:value="${secretary.id}">
				<div class="modal-body colorModal">
					<div class="col">
						<label for="firstNamePatient" class="text-dark">Secretary
							First Name:</label> <input class="form form-control" type="text"
							name="sectFirstName" placeholder="Enter First Name"
							style="width: 100%;" th:value="${secretary.firstName}"
							disabled="disabled">
					</div>

					<br>
					<div class="col">

						<label for="lastNamePatient" class="text-dark">Secretary
							Last Name:</label> <input class="form form-control" type="text"
							name="sectLastName" placeholder="Enter Last Name"
							style="width: 100%;" th:value="${secretary.lastName}"
							disabled="disabled">
					</div>

					<br>
					<div class="col">
						<label for="contactnumber" class="text-dark">Contact #:</label> <input
							class="form form-control" type="text" name="sectCellNumber"
							placeholder="Enter your Contact #..." style="width: 100%;"
							th:value="${secretary.cellphoneNumber}" disabled="disabled">
					</div>
					<br>
					<div class="col">
						<label for="emai" class="text-dark">Email:</label> <input
							class="form form-control" type="email" name="sectEmail"
							placeholder="Enter your Email..." style="width: 100%;"
							th:value="${secretary.email}" disabled="disabled">
					</div>
					<br>
					<div class="col">
						<label for="clinic" class="text-dark">Choose Clinic:</label> <select
							class="form-control" id="clinic" disabled="disabled"
							name="clinicId">
							<option th:each="clinic : ${clinicList}" th:value="${clinic.id}"
								th:text="${clinic.name}"
								th:selected="${clinic.id == secretary.clinic.id}">Clinic1</option>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="secretaryEditCloseBtn" class="btn btn-secondary"
						onclick="closeEditSectModal()">Close</button>
					<button id="saveSectEditBtn" type="button" class="btn btn-primary" onclick="enableSectEdit(event,'secretaryEditModalContainer')">Edit</button>
				</div>
			</form>
		</div>
	</div>
</div>
