.setting {
	background-color: #CED7E1;
}

.backgroundColor {
	background-color: #E7F4F6;
}

.backgroundColorSec {
	background-color: #FAE1E1;
}

.colorModal {
	background-color: #EAD9E3;
}

@font-face {
	font-family: "KeepCalm-Medium";
	src: url('fonts/KeepCalm-Medium.ttf');
}

.font {
	font-family: "KeepCalm-Medium";
}

.sizeText {
	resize: none;
}