/* Login Page */
#login-body img {
    width: 25%;
    height: 25%;
}
#login-body .container{
    margin-top: 7%;
}
#login-body .form-control {
    width: 50%;
    height: 10%;
    margin-top: .001%;
    text-align: center;
}

#login-body {
    background-color: #fff;
}

#login-body .btn {
    margin-top: 1%;
    width: 10%;
    text-align: center;
}