<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="db"
		class="ch.qos.logback.classic.db.DBAppender">
		<connectionSource
			class="ch.qos.logback.core.db.DataSourceConnectionSource">
			<dataSource class="com.zaxxer.hikari.HikariDataSource">
				<driverClassName>com.mysql.jdbc.Driver</driverClassName>
				<jdbcUrl>
				</jdbcUrl>
				<username>root</username>
				<password></password> <!-- no password -->
			</dataSource>
		</connectionSource>
	</appender>

	<!-- the level of the root level is set to DEBUG by default. -->
	<logger name="com.remd.spring">
		<appender-ref ref="db" />
	</logger>
	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>
</configuration>
